.negocio {
    cursor: pointer;
}

.negocio:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.negocioSel {
    border-right: var(--ion-color-primary) 4px solid;
    background: #ffd7b6;
}

ion-thumbnail {
    max-width: 2rem;
}

.btn_agregar {
    --border-style: dashed !important;
    width: 100%;
    --padding-bottom: 1rem;
    --padding-end: 1rem;
    --padding-start: 1rem;
    --padding-top: 1rem;
}