<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Servicios activos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>

            <!-- Lista -->
            <ion-col size-lg="4" size-xl="4" size-xs="12" size-sm="12" size-md="12" *ngIf="!hideMainCol">
                <!-- Lista de regiones -->
                <ion-card class="background-gris card-pendientes" *ngIf="map">
                    <ion-item *ngFor="let item of regiones; let i = index" class="region-item" detail (click)="getRepartidores(i)">
                        <ion-label color="light" class="label-region">{{item.referencia | titlecase}}</ion-label>
                        <ion-badge slot="end" color="primary" *ngIf="item.pedidos">{{item.pedidos}}</ion-badge>
                    </ion-item>
                    <ion-item class="region-item" lines="none" *ngIf="!nueva_region">
                        <ion-button (click)="nueva_region = true" slot="end" shape="round">
                            Nueva zona
                        </ion-button>
                    </ion-item>        
                </ion-card>

                <!-- Nueva region form -->
                <ion-card *ngIf="nueva_region" class="background-gris">
                    <ion-item>
                        <ion-label color="light">Ciudad: </ion-label>
                        <ion-input color="medium" type="text" [(ngModel)]="ciudad"></ion-input>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label color="light" class="label-region">Referencia: </ion-label>
                        <ion-input color="medium" type="text" [(ngModel)]="referencia"></ion-input>
                    </ion-item>
                    <ion-item class="region-item" lines="none">
                        <ion-button (click)="nueva_region = false" slot="start" fill="clear">
                            Cancelar
                        </ion-button>
                        <ion-button (click)="nuevaZona()" slot="end" shape="round">
                            Agregar zona
                        </ion-button>
                    </ion-item>
                </ion-card>

                <ion-card class="background-gris" *ngIf="pedidoXregion.length > 0">
                    <ion-item *ngFor="let item of pedidoXregion; let i = index" class="region-item" detail (click)="verPedido(item, i)">
                        <ion-thumbnail style="max-width: 1.75rem; height: auto; margin-right: 0.5rem; border-radius: 10px; overflow: hidden;">
                            <img [src]="item.negocio.logo" />
                        </ion-thumbnail>
                        <ion-label color="light" class="label-region">
                            <h2>{{item.negocio.nombreNegocio | titlecase}}</h2>
                            <p>{{item.createdAt | date:'EEEE d/MMMM/y h:mm a'}}</p>
                            <p *ngIf="!item.aceptado">Status: pendiente de aceptación</p>
                            <p *ngIf="item.aceptado && !item.repartidor">Status: pendiente de repartidor</p>
                            <p *ngIf="item.entrega === 'inmediato'">Entrega: inmediata</p>
                            <p *ngIf="item.entrega === 'planeado' && item.aceptado">Entrega: {{item.aceptado | date:'EEEE d/MMMM/y'}}</p>
                        </ion-label>
                    </ion-item>
                </ion-card>
            </ion-col>


            <!-- Mapa -->
            <ion-col size-lg="8" size-xl="8" size-xs="12" size-sm="12" size-md="12">
                <agm-map style="height: 90vh;" [latitude]="centro.lat" [longitude]="centro.lng" [disableDefaultUI]="true" [streetViewControl]="false" [zoomControl]="false" [fitBounds]="true" [fitBoundsPadding]="40" (mapReady)="onMapReady($event)">
                    <!-- repartidores markers -->
                    <agm-marker *ngFor="let item of repartidores; let i = index; trackBy:trackByRepartidor" [agmFitBounds]="true" (markerClick)="verInfoRepartidor(i, item)" [iconUrl]='{"url": icon_repartidor,"scaledSize": {"height": 40, "width": 30}}' [latitude]="item.lat"
                        [longitude]="item.lng" [animation]="'DROP'">
                        <agm-info-window [disableAutoPan]="true" [isOpen]="isInfoWindowOpen(i)">
                            <ion-item *ngIf="repartidor" lines="none">
                                <ion-avatar style="margin-right: 1rem;">
                                    <img [src]="repartidor.foto" />
                                </ion-avatar>
                                <ion-label>
                                    <h3 class="primario" style="font-style: bold;">Nombre: {{repartidor.nombre}}</h3>
                                    <h4>Teléfono: {{repartidor.telefono}}</h4>
                                </ion-label>
                            </ion-item>
                        </agm-info-window>
                    </agm-marker>
                    <!-- Servicios markers -->
                    <div *ngFor="let pendientes of pedidos; trackBy:trackByPendiente">
                        <agm-marker *ngFor="let item of pendientes.pedidos; let i = index; trackBy:trackByPedido" [agmFitBounds]="true" (markerClick)="verInfoPedido(i, item)" [iconUrl]='{"url": item.aceptado ? icon_cliente : icon_negocio,"scaledSize": {"height": 40, "width": 30}}' [latitude]="item.negocio.direccion.lat"
                            [longitude]="item.negocio.direccion.lng" [animation]="'DROP'">
                            <agm-info-window [disableAutoPan]="true" [isOpen]="isInfoWindowPedido(i)">
                                <ion-item *ngIf="pedido" lines="none">
                                    <ion-avatar style="margin-right: 1rem;">
                                        <img [src]="pedido.negocio.logo" />
                                    </ion-avatar>
                                    <ion-label>
                                        <h3 class="primario" style="font-style: bold;">Nombre: {{pedido.negocio.nombreNegocio}}</h3>
                                        <h4>Teléfono: {{pedido.negocio.telefono}}</h4>
                                        <h4>Solicitado: {{pedido.createdAt | date:'h:mm a'}}</h4>
                                    </ion-label>
                                </ion-item>
                                <ion-button (click)="asignarPedido()" shape="round" *ngIf="pedido && pedido.aceptado && !pedido.negocio.repartidores_propios">
                                    Asignar viaje
                                </ion-button>
                            </agm-info-window>
                        </agm-marker>
                    </div>
                    <!-- Zona de cobertura -->
                    <div *ngIf="regiones.length > 0">
                        <agm-polygon *ngFor="let region of regiones; trackBy:trackByRegion" [fillColor]="'#a9bd1c'" [strokeColor]="'#9FB603'" [paths]="region.ubicacion"></agm-polygon>
                    </div>
                </agm-map>
            </ion-col>
        </ion-row>
    </ion-grid>



</ion-content>