.region-item {
    cursor: pointer;
    --detail-icon-color: white;
}

.label-region:hover {
    color: green;
    --color: green;
}

.card-pendientes {
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 20;
}