.region-item {
    cursor: pointer;
    --detail-icon-color: white;
}

.label-region:hover {
    color: var(--ion-color-primary);
    --color: var(--ion-color-primary);
}

.card-pendientes {
    position: relative;
    top: -90vh;
    left: 2rem;
    z-index: 20;
}