/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.modal_file .modal-wrapper {
    height: 100%;
    width: 100%;
}

ion-item {
    --background: transparent;
}

ion-card {
    border-radius: 20px;
}

ion-avatar {
    margin-right: 0.5rem;
}

.grey {
    color: rgb(143, 142, 142);
    --color: rgb(143, 142, 142);
}

.gris {
    color: #2D3E4F;
}

.background-gris {
    background: #2D3E4F;
    --background: #2D3E4F;
}

.background-primario {
    background: var(--ion-color-primary);
    --background: var(--ion-color-primary);
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.10)
}

.primario {
    color: var(--ion-color-primary)
}

.medium {
    color: var(--ion-color-medium)
}

.separate-scroll {
    height: 85vh;
    overflow: auto;
}

.pointer {
    cursor: pointer
}

.pointer:hover {
    color: var(--ion-color-primary);
    --color: var(--ion-color-primary);
}

.resaltar {
    cursor: pointer;
}

.resaltar:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.10)
}

.alert-wrapper.sc-ion-alert-md {
    width: 100%;
    max-width: 60%;
}

.margen {
    width: 80%;
    margin-left: 10%;
}

.btn_agregar {
    --border-style: dashed !important;
    width: 100%;
    --padding-bottom: 1rem;
    --padding-end: 1rem;
    --padding-start: 1rem;
    --padding-top: 1rem;
}

.gradient-- {
    --background: linear-gradient(197deg, #F37208 0%, #Ef0808 100%);
}

.gradient {
    background: linear-gradient(197deg, #F37208 0%, #Ef0808 100%);
}